@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

body {
  background-color: white;
  font-family: 'Tenor Sans', sans-serif;
}

a { color: #007AFF; }

#game {
  position: absolute;
  top: 50%;
  left: 0; right: 0;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  text-align: center;
}

#game > * {
  display: inline-block;
  text-align: left;
  vertical-align: middle; margin: 0 20px; }

#cnake {
    border: 1px solid hsl(30, 80%, 80%);
    background-color: hsl(50, 80%, 90%);
/*     width: 200; */
}



